.container {
	position: fixed;
	left: 1em;
	top: 100%;
	right: 1em;
	background: white;
	box-shadow: black 1px 1px 5px;
	padding: 1em;
	z-index: 1;
	color: black;
	transition: top 0.1s;
	height: 90vh;
	display: flex;
	flex-direction: column;
}

.container.open {
	top: 1em;
}

.container article {
	flex-grow: 1;
}

.container button {
	width: 100%;
}
