.task {
	background-color: white;
	border-bottom: 1px solid #9fa8da;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 12px;
	display: flex;
	align-items: center;
	color: #323752;
}

.task.first {
	color: #333;
	font-weight: bolder;
}

.delete,
.check {
	line-height: 100%;
	opacity: 0.6;
	font-size: 140%;
}

.task > span {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon-button {
	border: none;
	background: transparent;
	box-shadow: none;
}

.icon-button:first-child {
	padding-left: 0;
}

.create {
	position: fixed;
	bottom: 6em;
	right: 2em;
	background-color: #f44336;
	border: none;
	border-radius: 50%;
	width: 50px;
	box-shadow: 4px 4px 10px #00003399;
	height: 50px;
	color: #eceef9;
	font-weight: bold;
}
