.task {
	background-color: white;
	border-bottom: 1px solid #9fa8da;
	border-radius: 3px;
	margin-bottom: 6px;
	padding: 12px;
	display: flex;
	align-items: center;
	color: #323752;
}

.task.first {
	color: #333;
	font-weight: bolder;
}

.delete,
.check {
	line-height: 100%;
	opacity: 0.6;
	font-size: 140%;
}

.task > span {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tag {
	display: inline-block;
	background-color: #9fa8da;
	color: white;
	font-size: small;
	font-weight: bold;
	padding: 0.2em 0.5em;
	margin-right: 0.5em;
	border-radius: 4px;
	flex-grow: 0;
	flex-basis: auto;
}

.more {
	font-weight: bold;
	background-color: #ccc;
	border-radius: 2px;
	display: inline-block;
	padding: 0 0.1em;
	margin-left: 0.5em;
	font-size: smaller;
}

.icon-button {
	border: none;
	background: transparent;
	box-shadow: none;
}

.icon-button:first-child {
	padding-left: 0;
}
