.task {
	display: flex;
	align-items: center;
}

.task.first {
	color: #333;
	font-weight: bolder;
}

.delete,
.check {
	line-height: 100%;
	opacity: 0.6;
	font-size: 140%;
}

.task > span {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.more {
	font-weight: bold;
	background-color: #ccc;
	border-radius: 2px;
	display: inline-block;
	padding: 0 0.1em;
	margin-left: 0.5em;
	font-size: smaller;
}

.icon-button {
	border: none;
	background: transparent;
	box-shadow: none;
}

.icon-button:first-child {
	padding-left: 0;
}
